:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;

    --header-height:120px;
    --navbar-height:38px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height))
}

*{ 
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }

    to{
        transform: scale(var(--growth-to));
    }
}

/* modal */
.modal{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    /* display: none; */
}

.modal__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body{
    /* position: relative; */
    --growth-from:0.5;
    --growth-to:1;
    background-color:#fff;
    margin: auto;
    z-index: 1;
    border-radius: 2px;
    animation: growth linear 0.2s;
    /* z-index sẽ giúp ta biết lớp position nào nằm trên */
}

.btn{
    min-width: 142px;
    height: 36px;
    border: none;
    line-height: 3.6rem;
    color: #000;
    padding: 0 2rem;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
}

.btn:hover{
    background-color: rgb(233, 215, 215);
}

.btn.btn--main{
    border: none;
    line-height: 3.6rem;
    color: #fff;
    padding: 0 2rem;
    background-color: #ee4d2d ;
}





/* pagination */

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item{
    margin: 0 1.4rem;
    font-weight: 400;
}

.pagination-item--active .pagination-item__link{
    background-color: #ee4d2d;
    color: #fff;
}

.pagination-item--active .pagination-item__link:hover{
    opacity: 0.7;
}

.pagination-item__link{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 3rem;
    border-radius: 3px;
}


