
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: calc(200%/12);
}

.grid__column-2-4{
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: calc(1000%/12);
}
/* mobile */
@media only screen and (max-width:46.1875em){
    .grid__column-2{
        display: none;
    }
    .grid__column-10{
        flex-grow: 1;
        margin: 0;
    }
    .grid__row{
        margin: 0;
    }
    .header{
        max-height: 56px;
        align-items: center;
    }
    .header-with-search{
        max-height: 56px;
        justify-content: space-between;
    }
    .search__logo-img{
        width: 11rem;
    }

    .header__logo{
        width: unset;
    }

    .header__cart{
        margin-right: 16px;
        width: unset;
    }

    .header__mobile-search-icon{
        display: block;
        margin-left: 8px;

    }
    .footer__heading{
        display: block;
        margin: 12px 0;
        text-align: center;
    }


    .footer-item__link{
        display: flex;
        justify-content: center;
    }
    .footer-login {
        justify-content: center;
    }
    .pagination{
        width: unset;
    }
    .pagination-item{
        margin:  0;
    }
    .pagination-item__link{
        font-size: 16px;
    }
}

/* tablet */

@media only screen and (min-width:46.25em) and (max-width:63.9375em){
    .grid__column-2{
        display: none;
    }
    .in-tablet{
        display: none;
    }
    .grid__row{
        margin: 0;
    }
    .grid__column-10{
        flex-grow: 1;
        margin: 0;
    }
    .header{
        display: flex;
        max-height: 70px;
        align-items: center;
    }
    .header__search{
        margin-left: 6rem;
    }
    .header-with-search{
        margin-left: 0px;
    }
}

/* tablet and mobile */
@media only screen and (max-width:63.9375em){
    .container{
        margin-top: 55px;
    }

    .header{
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
    }
    .header__cart-container{
        position: fixed;
        width: 100%;
        right: 0;
        top: 70px;
    }
    .header__cart-container::before{
        display: none;
    }
}

@media only screen and (min-width:64em) and (max-width:77.4375em){
    .grid{
        padding: 0 2rem;
       }
    }